
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Allot Teacher</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Teacher Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">Allot Teachers</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form [formGroup]="alotteacherForm">
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" formControlName="name"  placeholder="Name" > 
                        <div *ngIf="name.touched && name.invalid">
                          <div *ngIf="name.errors.required" class="alert alert-danger">Username is required</div>
                          <div *ngIf="name.errors.pattern" class="alert alert-danger">Only alphabets are required</div>
                      </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="Course">Course</label>
                        <input type="text" class="form-control" formControlName="course"  placeholder="Course" > 
                        <div *ngIf="course.touched && course.invalid">
                          <div *ngIf="course.errors.required" class="alert alert-danger">Coursename is required</div>
                          <div *ngIf="course.errors.pattern" class="alert alert-danger">Only alphabets are required</div>
                      </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="Subject">Subject</label>
                        <input type="text" class="form-control" formControlName="subject"  placeholder="Subject" > 
                        <div *ngIf="subject.touched && subject.invalid">
                          <div *ngIf="subject.errors.required" class="alert alert-danger">Subjectname is required</div>
                          <div *ngIf="subject.errors.pattern" class="alert alert-danger">Only alphabets are required</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

