
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Notes</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Notes</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">View Notes</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-sm-6">
                      <label for="subjectname">Course</label>
                      <select name="Subject" class="form-control">
                          <option selected>B.Tech</option>
                          <!-- <option>BE</option> 
                          <option>B.sc</option>
                          <option>CC</option> -->
                        </select>
                  </div>
                    <div class="form-group col-sm-6">
                        <label for="subjectname">Subject</label>
                        <select name="Subject" class="form-control">
                            <option selected>OOAD</option>
                            <option>AI</option> 
                            <option>TOC</option>
                            <option>CC</option>
                          </select>
                    </div>
                    
                    <!-- <div class="form-group col-sm-6">
                        <label for="department">Name of Assignment</label>
                        <input type="text" placeholder="Name of Assigenment" class="form-control">
                    </div> -->
                  </div>
                </div>
                <!-- /.card-body -->
              </form>
              <table class="table" >
                <tr>
                    <th>id</th>
                    <th>Cousre Name</th>
                    <th>Subject</th>
                    <th>Name of Notes</th>
                    <th>Document</th>
                    <th>Description</th>
                    
                </tr>
                <tr>
                    <td>1</td>
                    <td>B.Tech</td>
                    <td>TOC</td>  
                    <td></td>
                    <td></td>
                    <td></td>  
                </tr>
                </table>
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



 